<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://desarrollo.is.escuelaing.edu.co:3306/cosw2?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">cosw2</property>
    <property name="hibernate.connection.password">cosw2gr22</property>
    <mapping class="com.mycompany.priorityhealth.MedicamentosPorProveedor"/>
    <mapping class="com.mycompany.priorityhealth.Pedidos"/>
    <mapping class="com.mycompany.priorityhealth.Mensajeros"/>
    <mapping class="com.mycompany.priorityhealth.DetallesPedido"/>
    <mapping class="com.mycompany.priorityhealth.Epsafilidas"/>
    <mapping class="com.mycompany.priorityhealth.Contratos"/>
    <mapping class="com.mycompany.priorityhealth.Medicamentos"/>
    <mapping class="com.mycompany.priorityhealth.Autorizaciones"/>
    <mapping class="com.mycompany.priorityhealth.Pacientes"/>
    <mapping class="com.mycompany.priorityhealth.Inventario"/>
    <mapping class="com.mycompany.priorityhealth.Proveedores"/>
    <mapping class="com.mycompany.priorityhealth.OrdenesCompra"/>
    <mapping class="com.mycompany.priorityhealth.ContratosId"/>
    <mapping class="com.mycompany.priorityhealth.Despachos"/>
  </session-factory>
</hibernate-configuration>
